@import "../../utils/color.scss";

.container {
  height: 100%;
  padding: 2em;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::before {
    content: "";
    background-image: url("../../assets/img/header.jpg");
    background-size: cover;
    filter: blur(5px);
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
  }

  &::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
  }

  > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    > * {
      margin: 1rem 0;
    }

    h1 {
      color: $titleColor;
    }

    p {
      color: $subTitleColor;
    }
  }

  @media screen and (min-width: 992px) {
    padding: 5em;
    position: fixed;
    width: inherit;

    &::before {
      background-position: right;
    }

    > div {
      height: 70%;
      justify-content: space-between;
      align-items: flex-end;
    }
  }
}
