@import "../../utils/color.scss";

.container {
  margin: 1em 0;
  cursor: default;

  .titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      margin: 0;
    }

    > div {
      a {
        color: inherit;
        margin: 0 0.5em;
        font-size: 1.5em;
        pointer-events: auto;

        &:nth-last-of-type(1) {
          margin-right: 0;
        }

        &:hover {
          color: $primaryColor;
        }
      }
    }
  }

  > div {
    .tab {
      cursor: default;
    }
  }
}
